@import "tailwindcss";
@plugin "./hero.js";

@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

:root {
  --heroui-background: 0% 0% 0% / 0%;
}

@theme {
  --font-sans: var(--font-roboto);
  --font-heding: var(--font-play);
  --color-primary: #0043ea;
  --color-secondary: #1a1313;
  --color-primary-green: #39db34;
  --color-main-white: #ffffff;
  --color-transparent: transparent;
  --radius-main: 5px;
  --shadow-main: 0 6px 13px -5px var(--tw-shadow-color, var(--color-primary));
  --text-slogan: clamp(1rem, 3vw, 5rem);
  --text-span: clamp(0.75rem, 2vw, 1.75rem);
  --spacing-slogan: clamp(1rem, 3vw, 5rem);
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heding);
    font-weight: 700;
  }
}

.hero-section__title {
  line-height: 52px;
}
