@import "tailwindcss";
@plugin "./hero.js";

@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

:root {
  --heroui-background: 0% 0% 0% / 0%;
}

@layer base {
  * {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heding);
    font-weight: 700;
  }

  p {
    margin-top: 1rem;
  }
}

@theme {
  --font-sans: var(--font-roboto);
  --font-heding: var(--font-play);
  --color-primary: #0043ea;
  --color-secondary: #1a1313;
  --color-primary-green: #39db34;
  --color-main-white: #ffffff;
  --color-transparent: transparent;
  --radius-main: 5px;
  --shadow-main: 0 6px 13px -5px var(--tw-shadow-color, var(--color-primary));
  --shadow-main-large: 0 20px 39px -5px
    var(--tw-shadow-color, var(--color-primary));
  --text-slogan: clamp(1rem, 3vw, 5rem);
  --text-span: clamp(0.75rem, 2vw, 1rem);
  --text-recomend: clamp(0.5rem, 2vw, 0.75rem);
  --text-services: clamp(12px, 2.5vw, 16px);
  --text-form: clamp(16px, 1vw, 32px);
  --spacing-slogan: clamp(1rem, 3vw, 5rem);
  --scale-list-item: 1.05;
  --scale-button: 1.05;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;

  width: 100%;

  min-height: 100vh;
}

@layer components {
  .custom-h1 {
    font-size: clamp(1rem, 3vw, 2rem);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  .custom-h2 {
    font-size: clamp(1rem, 6vw, 1.5rem);
    letter-spacing: 0.25rem;
  }

  .custom-h3 {
    font-size: clamp(0.75rem, 5vw, 1rem);
    letter-spacing: 0.12rem;
    margin: 0.75rem 0;
  }

  .custom-list-disc-inside {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: disc;
    list-style-position: inside;
  }

  .custom-list-disc-inside > li {
    transition: color;
    transition-duration: 300ms;
  }

  .custom-list-disc-inside > li:hover {
    color: var(--color-primary);
  }
}

.hero-section__title {
  line-height: 52px;
}
